<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="false">

    <test name="UI Tests">
        <classes>
            <class name="org.example.Tests.loginpage"/>
            <class name="org.example.Tests.loginpagewithPF"/>
            <class name="org.example.Tests.loginpagewithwebdriverandpr"/>
        </classes>
    </test>

</suite>
